/* Контейнер для центрирования контента */
.container {
  max-width: var(--container-width);
  margin: 0 auto;
  padding: 0 var(--container-padding);
}

/* Базовые стили (мобильные) */
@media (min-width: 576px) {
  .container {
    padding: 15px;
    font-size: 14px;
  }
}

/* Планшет */
@media (min-width: 768px) {
  .container {
    padding: 20px;
    font-size: var(--font-size-base);
  }
}