/* Контейнер для центрирования контента */

/* Базовые стили (мобильные) */
  .container {
    padding: 15px;
    font-size: 14px;
  }

  /* ПК  */
@media (min-width: 64rem) {
  .container {
    max-width: var(--container-width);
    margin: 0 auto;
    padding: 0 var(--container-padding);
  }
}

/* Планшет */
@media (min-width: 48rem) {
  .container {
    padding: 20px;
    font-size: var(--font-size-base);
  }
}